<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>자유게시판 내용 상세보기</title>
</head>
<body>
      
        <table class="table">
          
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td>
                   
                </td>
            </tr>
            
            <tr>
                <th style="padding:13px 0 0 15px;">작성자</th>
                <td>
                    
                </td>
            </tr>

            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td>
                    
                </td>
            </tr>			            
            
            <tr>
                <th style="padding:13px 0 0 15px;">태그</th>
                <td>
                    
                </td>
            </tr>     
            
                   
        </table>
        
<!--        <a th:href="@{/boardupdate?(fidx=${board.fidx},page=${page})}"><button type="button">수정</button></a>
		<a th:href="@{/boarddelete?(page=${page})}"><button type="button">삭제</button></a>
		<a href="/list"><button type="button">목록</button></a> -->
        

        
        
        
        
</body>
</html>