<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>자유게시판 내용 상세보기</title>
</head>
<body>
      
        <div id="all">
        	<h2>[[${detail.subject}]]</h2>
        	<li>작성자 : [[${detail.nickname}]]</li>
        	      	
        	<li><pre>[[${detail.content}]]</pre></li>
        	
        	
        
        
        
        	<p><li>태그 &nbsp [[${detail.hashtag}]]</li></p>   <!-- &nbsp : 공백 --> 
        
        	작성날짜 : <td th:text="${#calendars.format(detail.reg_date,'yyyy-MM-dd')}"></td>

        
        </div>
        
		<a th:href="@{/update?(fidx=${detail.fidx},page=${page})}"><button type="button">수정</button></a>
		<a th:href="@{/boarddelete?(fidx=${detail.fidx},page=${page})}"><button type="button">삭제</button></a>
		
		<a href="/list"><button type="button">목록</button></a>
      

      
</body>
</html>