<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>자유게시판 수정</title>
</head>
<body>

	<div>
		<form th:action="@{/updatesave}" method="post">
		
		<div>
			<input type="text" id="subject" name="subject" th:value="${detail.subject}">
		</div>
		
		<div>
			<input type="text" id="nickname"  name="nickname" th:value="${detail.nickname}" readonly>
		</div>
		
		<div> 
			<textarea id="content" name="content" >[[${detail.content}]]</textarea>  
		</div>
		
		<div>
			<input type="text" id="hashtag" name="hashtag" th:value="${detail.hashtag}">
		</div>
		
		<input type="hidden" name="fidx" th:value="${fidx}">
		<input type="hidden" name="page" th:value="${page}">
					
		<button type="submit">저장</button>
		<button type="button" onclick="location.href='list'">돌아가기</button>   <!-- 돌아가기 버튼은 리스트로 연결했습니다. -->

		</form>	
	</div>
</body>
</html>