@charset "UTF-8";
#all{
	margin: auto;
	width: 100%;
	max-width:100%;
	padding:5%;
	background:#fff;
	border-radius:30px;
	box-sizing:border-box;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);	
}
.button{
	cursor: pointer;
}
.button2{
	cursor: pointer;
}
