@charset "UTF-8";
#all{
	margin: auto;
	width: 100%;
	max-width:70%;
	padding:5%;
	background:#fff;
	border-radius:30px;
	box-sizing:border-box;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);	
}
li {
	list-style: none;
}
.button{
	cursor: pointer;
	text-align: right;
}
.button2{
	cursor: pointer;
	text-align: right;
}
.detailbtn {
   margin-top: 10px;
   text-align: center;
}
.detailbtn>a {
   height: 40px;
    padding: 0 13px;
    border-radius: 20px;
    border: 1px solid #9ACF81;
    font-size: 13px;
    color: #000;
    line-height: 38px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
   display: inline-block;
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 30px;
}
.detailbtn>a:hover {
   background-color: #9ACF81;
   color: white;
}

.like_cnt>li:nth-child(1){
	text-align: right;
	padding-right: 10px;
}
.nickname{
	
}
.content{
	margin: auto;
	width: 100%;
	min-height:200px;
}
.fimage{
	width: 50%;
	height: 50%;
}
.tag_date{
	text-align: right;
}
